<h1>St Paul's Collegiate School</h1>
<h2>Squash Court Booking System</h2>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Squash Court Booking System! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>