<li id="booking-<%= booking.id %>">
  <span class="user"><%= link_to booking.user.name, booking.user %></span>
  <span class="time"><%= booking.time.to_formatted_s(:short) %></span>
  <span class="timestamp">
    Booked <%= time_ago_in_words(booking.created_at) %> ago.
    <% if current_user?(booking.user) %>
      <%= link_to "delete", booking, method: :delete,
                                       data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
</li>