<% provide(:title, 'Make a Booking') %>
<h1>Make a Booking</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@booking) do |f| %>
    
      <div style="overflow:hidden;">
        <div class="form-group">
          <div class="row">
            <div class="col-md-8">
                <div id="datetimepicker">
                  <input type="hidden" name="booking[time]" id="booking_time"/>
                </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          $(function () {
            $('#datetimepicker').datetimepicker({
                inline: true,
                sideBySide: true,
                stepping: 30,
                format: 'YYYY/MM/DD HH:mm a',
                minDate: moment()
            });
          });
        </script>
      </div>
      
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.submit "Confirm Booking", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>