<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>
</h1>
<% if @user.bookings.any? %>
  <div class="col-md-8">
    <h3>Bookings (<%= @user.bookings.count %>)</h3>
    <ol class="bookings">
      <%= render @bookings %>
    </ol>
      <%= will_paginate @bookings %>
  </div>
<% else %>
  <h2>This user hasn't made any bookings.</h2>
<% end %>