<% provide(:title, "Bookings") %>
<div class="center">
  <h1>Bookings</h1>
  <h2>There are currently no bookings.</h2>
  <%= link_to "Make a booking", new_booking_path, class: "btn btn-lg btn-primary" %>

</div>