<% provide(:title, "Contact") %>
<div class="center">
  <h1>Contact</h1>
  Squash Coach: Brendon Woodhead, brendon@wabbit.co.nz<br>
  Director of Squash: Helen Chileshe, h.chileshe@stpauls.school.nz<br>
  Site Developer: Nathan Cleaver, n.cleaver@stpauls.school.nz
</div>