<% provide(:title, 'Squash') %>
<div class="center jumbotron">
  <h1>Squash Booking System</h1>

  <h2>
    This is the home page for the
    St Paul's Collegiate School
    squash court booking system.
  </h2>

  <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
</div>