<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) && !user.admin?%>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>