<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <% if logged_in? %>
      <a href=<%=root_path%>><img src="/assets/logo_hori.png"
               alt="St Paul's Logo" id="schoollogo"></a>
    <% else %>
      <a href=<%=current_user%>><img src="/assets/logo_hori.png"
               alt="St Paul's Logo" id="schoollogo"></a>
    <% end %>
    <%= render 'layouts/header' %>
    
    <div class="container">
      <% flash.each do |message_type, message| %>
         <div class="alert alert-<%= message_type %>"><%= message %></div>
       <% end %>
       <%= yield %>
     </div>
    
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>